svg.g {
   border: 1px solid black;
}

.axis line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  stroke-dasharray: 2,2;
  shape-rendering: crispEdges;    
}
  
.line, .dots, .backgroundDots {
  clip-path: url(#mask);
}
  
.line {
  fill: none;
  /* stroke: lightgrey; */
}

.lineon {
  stroke: lightgrey;
}

.lineoff {
  stroke: none;
}

.zoom1, .zoom2 {
  cursor: move;
  fill: none;
  pointer-events: all;
}
  
.backgroundDots circle {
  fill: #888888;
}
  
.legendCells text {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 0.7em;
}

.key {
   margin-left: 10px;
   width: 1000px;
}

.key div {
   margin-bottom: 10px;
}

.flag {
   font-weight: bold;
}

.desc {
   font-weight: normal;
}

